<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/landing-page-main.css">
    <link rel="stylesheet" 
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" 
    />
</head>
<body>
    <!-- label  -->
    <div class="label">
        <div class="label-child">
            <b>1. Landing Page</b>
        </div>
    </div>

     <!-- header start -->
     <header class="header">
        <div class="header-left ">
            <span class="material-symbols-outlined">done_all</span>
            <span>Lalasia</span>
        </div>
        <div class="header-between">
            <ul class="header-list-item">
                <li>
                    <span>Services</span>
                </li>
                <li>
                    <span>Services</span>
                </li>
                <li>
                    <span>Article</span>
                </li>
                <li>
                    <span>About us</span>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <span class="material-symbols-outlined">shopping_bag</span>
            <span class="material-symbols-outlined">person</span>
        </div>
    </header>
    <!-- header end -->

    <!-- Content start  -->
    <div class="content">
        <div class="content-top">
            <h1 class="content-top-landing-page">
                Discover Furniture With<br>
                &emsp;High Quality Wood
                <span class="material-symbols-outlined star">star</span>
            </h1>
            <p class="introduce">
                Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi,<br>
                adipiscing mauris non. Purus parturient viverra nunc, tortor sit laoreet. Quam tincidunt<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;aliquam adipiscing tempor.
            </p>
        </div>
        <div class="background-top">
            <div class="search">
                <div class="search-left">
                    <span class="material-symbols-outlined">search</span>
                    <p class="search-proprty">Search-proprty</p>
                </div>
                <div class="search-right">
                    <span id="search">Search</span>
                </div>
            </div>
        </div>
        <div class="logo">
            <div class="logo-left">
                <span class="logo-left-top">Benefits</span>
                <h1>
                    Benefits when using<br>
                    our services
                </h1>
            </div>
            <div class="logo-right">
                <span class="logo-right-top">
                    Pellentesque etiam blandit in tincidunt at donec. Eget<br>
                    ipsum dignissim placerat nisi, adipiscing mauris non purus<br>
                    parturient.
                </span>
                <span class="logo-left-bottom">View Portofolio</span>
            </div>
        </div>
        <div class="information">
            <div class="information-item">
                <div class="inf-1">
                    <span class="material-symbols-outlined">
                        bookmarks
                    </span>
                </div>
                <h2 class="inf-2">Many Choices</h2>
                <span class="inf-3">
                    Pellentesque etiam blandit in tincidunt<br>
                    at donec. Eget ipsum dignissim placerat<br>
                    nisi, adipiscing mauris non. 
                </span>
            </div>
            <div class="information-item">
                <div class="inf-1">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>
                </div>
                <h2 class="inf-2">Fast and On Time</h2>
                <span class="inf-3">
                    Pellentesque etiam blandit in tincidunt<br>
                    at donec. Eget ipsum dignissim placerat<br>
                    nisi, adipiscing mauris non. 
                </span>
            </div>
            <div class="information-item">
                <div class="inf-1">
                    <span class="material-symbols-outlined">
                        mark_chat_unread
                    </span>
                </div>
                <h2 class="inf-2">Affordable Price</h2>
                <span class="inf-3">
                    Pellentesque etiam blandit in tincidunt<br>
                    at donec. Eget ipsum dignissim placerat<br>
                    nisi, adipiscing mauris non. 
                </span>
            </div>
        </div>
        <div class="topic-1">
            <span id="product">Product</span>
            <h1 class="topic-item-1">Our popular product</h1>
            <span class="topic-item-2">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim<br>
                &emsp;&emsp;&emsp;placerat nisi, adipiscing mauris non purus parturient.
            </span>
            <div class="product">
                <div class="product-item">
                    <img class="img" src="https://jysk.vn/Data/Sites/1/Product/7354/364836784-ke-sach-horsen-jysk-2.jpg" alt="">
                    <p class="name-product"></p>
                    <h3 id="back">Wooden Bookshelf</h3>
                    <p class="name-product">Combination of wood and wool</p>
                    <h3 id="back"></h3>
                </div>
                <div class="product-item">
                    <img class="img" src="https://i.pinimg.com/originals/92/55/10/925510bfdb8b81066fc6fc9c86c4561e.png" alt="">
                    <p class="name-product">Chair</p>
                    <h3 id="back">While Aesthetic Chair</h3>
                    <p class="name-product">Combination of wood and wool</p>
                    <h3 id="back">$63.47</h3>
                </div>
                <div class="product-item">
                    <img class="img" src="https://img.lovepik.com/photo/20211122/medium/lovepik-desk-lamp-picture_500725926.jpg" alt="">
                    <p class="name-product">Lamp</p>
                    <h3 id="back">Bardono Smart Lamp</h3>
                    <p class="name-product">Easy to use with bluetooth connectionl</p>
                    <h3 id="back">$62.23</h3>
                </div>
                <div class="product-item">
                    <img class="img" src="https://sofagiarehanoi.vn/wp-content/uploads/2017/09/sofa-nho-xinh-phong-khach.jpg" alt="">
                    <p class="name-product">Sofa</p>
                    <h3 id="back">Sofa Empuk Banget</h3>
                    <p class="name-product">Using kapuk randu material</p>
                    <h3 id="back">$58.39</h3>
                </div>
            </div>
        </div>
        <div class="topic-2">
            <div class="topic-left">
                <span id="product">Our Product</span>
                <h1 class="topic-item-1">
                    Crafted by talented and<br>
                    high quality material
                </h1>
                <span class="topic-item-2">
                    Pellentesque etiam blandit in tincidunt at donec. Eget ipsum<br>
                    dignissim placerat nisi, adipiscing mauris non purus parturient.<br>
                    morbi fermentum, vivamus et accumsan dui tincidunt pulvinar
                </span>
                <div class="learn-more">Learn More</div>
                <img class="img-bottom" src="https://watermark.lovepik.com/photo/20211208/large/lovepik-carpenter-worker-punching-wood-closeup-picture_501667535.jpg" alt="">
            </div>
            <div class="topic-right">
                <div class="topic-right-top">
                    <div class="topic-right-top-item">
                        <h1>20+</h1>
                        <span style="font-size: 13px;" class="topic-item-2">Years Experience</span>
                    </div>
                    <div class="topic-right-top-item">
                        <h1>483</h1>
                        <span style="font-size: 13px;" class="topic-item-2">Happy Client</span>
                    </div>
                    <div class="topic-right-top-item">
                        <h1>150+</h1>
                        <span style="font-size: 13px;" class="topic-item-2">Project Finished</span>
                    </div>
                </div>
                <img class="topic-right-img" src="https://hungiota.com/wp-content/uploads/2021/01/tu-trang-tri-phong-ngu-5-tang.jpg" alt="">
            </div>
        </div>
        <div class="topic-1">
            <span id="product">Testimonials</span>
            <h1 class="topic-item-1">What our customer say</h1>
            <span class="topic-item-2">
                Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim<br>
                &emsp;&emsp;&emsp;placerat nisi, adipiscing mauris non purus parturient.
            </span>
        </div>
        <div class="topic-2">
            <div class="topic-left">
                <span id="product">Articles</span>
                <h1 class="topic-item-1">
                    The best furniture comes<br>
                    from Lalasia
                </h1>
                <span class="topic-item-2">
                    Pellentesque etiam blandit in tincidunt at donec. 
                </span>
                <div class="background-bottom">
                    <div class="information-1">
                        <h2 class="in-1">Siska Kohl's Bedroom</h2>
                        <span class="in-2">
                            We start renovating her bedroom with minimalist...
                        </span>
                        <span class="in-3">See Detail</span>
                    </div>
                    <div class="arrow">
                        <div class="arrow-left">
                            <span class="material-symbols-outlined">
                                arrow_back
                            </span>
                        </div>
                        <div class="arrow-right">
                            <span class="material-symbols-outlined">
                                arrow_forward
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topic-right-2">
                <div class="content-right">
                    <img class="img-smaill" src="https://static-images.vnncdn.net/files/publish/2022/7/4/meo-nho-cho-ban-lam-viec-ngan-nap-508a6e82b1dd4dc5a83ae4e825c10aae.jpg" alt="">
                    <div class="content-small">
                        <span class="topic-item-2">Tips and Trick</span>
                        <h2>
                            6 ways to give your home<br>
                            minimalistic vibes
                        </h2>
                        <span class="topic-item-2">Pellentesque etiam blandit in...</span>
                        <div class="content-small-item">
                            <img class="avatar" src="https://img.lovepik.com/free-png/20211130/lovepik-cartoon-avatar-png-image_401205251_wh1200.png" alt="">
                            <h4>By Jerremy Jean</h4>
                            <span class="topic-item-2">Friday, 1 April 2022</span>
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <img class="img-smaill" src="https://media.istockphoto.com/id/1333102002/vi/anh/n%E1%BB%99i-th%E1%BA%A5t-ph%C3%B2ng-ng%E1%BB%A7-theo-phong-c%C3%A1ch-hi%E1%BB%87n-%C4%91%E1%BA%A1i.jpg?s=612x612&w=0&k=20&c=l0zjtnwjzN0bkGVz__VaKMlHF0sxezSsiuT86w2a35Q=" alt="">
                    <div class="content-small">
                        <span class="topic-item-2">Design Inspiration</span>
                        <h2>
                            How to make your interiors<br>
                            cooler and more stylish
                        </h2>
                        <span class="topic-item-2">Pellentesque etiam blandit in...</span>
                        <div class="content-small-item">
                            <img class="avatar" src="https://png.pngtree.com/element_our/20190528/ourlarge/pngtree-couple-boy-cute-avatar-image_1153281.jpg" alt="">
                            <h4>By Michaela Augus</h4>
                            <span class="topic-item-2">Friday, 1 April 2022</span>
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <img class="img-smaill" src="https://guonglyng.com/wp-content/uploads/2021/05/guong-hinh-soi-soi-toan-than-2.jpg" alt="">
                    <div class="content-small">
                        <span class="topic-item-2">Tips and Trick</span>
                        <h2>
                            Elements to add character<br>
                            to your space
                        </h2>
                        <span class="topic-item-2">Pellentesque etiam blandit in...</span>
                        <div class="content-small-item">
                            <img class="avatar" src="https://png.pngtree.com/png-vector/20220608/ourlarge/pngtree-round-kid-avatar-boy-face-png-image_4919114.png" alt="">
                            <h4>By Kim Gurameh</h4>
                            <span class="topic-item-2">Friday, 1 April 2022</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="end">
            <h1>Join with me to get special discount</h1>
            <div class="learn-more-1">
                <span>Learn More</span>
                <span class="material-symbols-outlined">
                    trending_flat
                </span>
            </div>
        </div>
    </div>
    <!-- Content end  -->

    <!-- footer start  -->
    <footer class="footer">
        <div class="footer-top"></div>
        <div class="footer-bottom">
            <div class="footer-left">
                <div class="footer-left-top">
                    <span class="material-symbols-outlined">done_all</span>
                    <span>Lalasia</span>
                </div>
                <div class="footer-left-bottom">
                    Lalasia is digital agency that help you make better<br> 
                    experience iaculis cras in.
                </div>
            </div>
            <div class="footer-right">
                <div class="communications">
                    <span class="bold"><b>Product</b></span>
                    <span>New Arrivals</span>
                    <span>Best Selling</span>
                    <span>Home Dector</span>
                    <span>Kitchen Set</span>
                </div>
                <div class="communications">
                    <span class="bold"><b>Services</b></span>
                    <span>Catalog</span>
                    <span>Blog</span>
                    <span>FaQ</span>
                    <span>Pricing</span>
                </div>
                <div class="communications">
                    <span class="bold"><b>Follow Us</b></span>
                    <span>Facebook</span>
                    <span>Instagram</span>
                    <span>Twiter</span>
                </div>
            </div>
        </div> 
    </footer>
    <!-- footer end  -->
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>